fastapi
uvicorn
sqlalchemy
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pandas
numpy
scikit-learn
xgboost
joblib
nltk
transformers
torch
sentence-transformers
faiss-cpu
httpx
pydantic-settings
